__pycache__/
*.py[cod]
.DS_Store
.idea/
.vscode/
.venv/
venv/

src/logs/
src/main_experiment_results/
src/saved/gcfrec/
src/saved/adrec/
src/saved/diffurec/
src/saved/dreamrec/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
